[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyescpos = {path = ".",extras = ["serial", "usb"],editable = true}
tox = "*"
future = "*"
python-decouple = "*"

[dev-packages]
tox = "*"

[bluetooth]
PyBluez = "*"

[serial]
pyserial = "*"

[usb]
pyusb = "*"
